<head>
	<style>
	.bg-1{
	background-color: #1abc9c;/* Green */
	color: #ffffff;		
		}
	.bg-2{
	background-color: #474e5d;/* Dark Blue */
	color: #ffffff;		
		}
	.bg-3{
	background-color: #ffffff;/* White */
	color: #555555;		
		}			
	
	</style>
</head>

<script>
	function startTime() {
	document.getElementById('clock').innerHTML = new Date();
	setTimeout(startTime, 500);
	}
	var shown = false;

	function showhide(){

		if(shown){
		document.getElementById('email').innerHTML = "show my eamil";
		shown = false;				

		}else{
		var myemail = "<a href='mailto:kondapallie1"+ "@" + "udayton.edu'>kondapallie1"	+ "@" + "udayton.edu</a>";
		//alert("myemail ="+myemail);
		document.getElementById('email').innerHTML=myemail;
		shown = true;
			}		
		}	
</script>

<div id ="email" onclick="showhide()"> show my email</div> 
<body onload="startTime()">
<br>
	<div class="container-fluid bg-1 text-center">
		<center>
		<h3>Who Am I?</h3>
		<img src= "kek.JPG" width="400" height="379" class="img-circle"  alt= "KEK">
		<h3>Eekshith Karthik</h3>
		Current Time:<div id="clock"> </div>
		</center>

	</div>
	<div class="container-fluid bg-2 text-center">
		<center>		
		<h3>What Am I?</h3>
		<p> As a Master's graduate in computer science, I describe myself as a versatile and flexible person for any technical position.  I am seeking for new challenges in software field. I believe in doing more work in less time as a multitasker and completing assignments in a efficient manner.</p>
		</center>	
	</div>
	<div class="container-fluid bg-3 text-center">
		<center><h3>Where To Find Me?</h3>
		<p>345, Firwood Drive, Dayton Ohio-45419</p>
		<p>St-ID:- 101629202</p>
		<p>Contact number:- (234)-(244)-7776 </p>
		</center>
	</div>
	<div class="container-fluid bg-2 text-center">
		<center><h3>My Education</h3>
		<p>Graduate from University of Dayton with 3.6 GPA</p>
		<p>Undergraduate from Sreyas institute of Engineering & technology with 3.5 GPA </p>
		<h3>My Skills</h3>
		<p>Matlab | MySql/NoSql | Tableau | NetBeans | C/C## | Java | AWS-Cloud Computing | Angular.Js</p>
		</center>
	</div>

</body>
